FrontEnd/Frontend_C#/SoftPac/SoftPacBusiness/Connected Services/PaisesWS/PaisesWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softpacws.pucp.edu.pe/" targetNamespace="http://softpacws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarPaises" type="tns:listarPaises" />
  <xs:element name="listarPaisesResponse" type="tns:listarPaisesResponse" />
  <xs:element name="obtenerPaisPorId" type="tns:obtenerPaisPorId" />
  <xs:element name="obtenerPaisPorIdResponse" type="tns:obtenerPaisPorIdResponse" />
  <xs:complexType name="obtenerPaisPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPaisPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paisesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paisesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="codigo_telefonico" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPaises">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPaisesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:paisesDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>