FrontEnd/SoftPac/SoftPacBusiness/Connected Services/UsuariosWS/UsuariosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softpacws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuariosWS" targetNamespace="http://softpacws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPacWS/UsuariosWS?xsd=1" namespace="http://softpacws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="autenticarUsuarioPorCorreo">
    <part name="parameters" element="tns:autenticarUsuarioPorCorreo" />
  </message>
  <message name="autenticarUsuarioPorCorreoResponse">
    <part name="parameters" element="tns:autenticarUsuarioPorCorreoResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="modificarAccesoUsuario">
    <part name="parameters" element="tns:modificarAccesoUsuario" />
  </message>
  <message name="modificarAccesoUsuarioResponse">
    <part name="parameters" element="tns:modificarAccesoUsuarioResponse" />
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="obtenerUsuario">
    <part name="parameters" element="tns:obtenerUsuario" />
  </message>
  <message name="obtenerUsuarioResponse">
    <part name="parameters" element="tns:obtenerUsuarioResponse" />
  </message>
  <message name="autenticarUsuarioPorNombreUsuario">
    <part name="parameters" element="tns:autenticarUsuarioPorNombreUsuario" />
  </message>
  <message name="autenticarUsuarioPorNombreUsuarioResponse">
    <part name="parameters" element="tns:autenticarUsuarioPorNombreUsuarioResponse" />
  </message>
  <portType name="UsuariosWS">
    <operation name="autenticarUsuarioPorCorreo">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/autenticarUsuarioPorCorreoRequest" message="tns:autenticarUsuarioPorCorreo" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/autenticarUsuarioPorCorreoResponse" message="tns:autenticarUsuarioPorCorreoResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="modificarAccesoUsuario">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/modificarAccesoUsuarioRequest" message="tns:modificarAccesoUsuario" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/modificarAccesoUsuarioResponse" message="tns:modificarAccesoUsuarioResponse" />
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="obtenerUsuario">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/obtenerUsuarioRequest" message="tns:obtenerUsuario" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse" />
    </operation>
    <operation name="autenticarUsuarioPorNombreUsuario">
      <input wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/autenticarUsuarioPorNombreUsuarioRequest" message="tns:autenticarUsuarioPorNombreUsuario" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/UsuariosWS/autenticarUsuarioPorNombreUsuarioResponse" message="tns:autenticarUsuarioPorNombreUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuariosWSPortBinding" type="tns:UsuariosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="autenticarUsuarioPorCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAccesoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="autenticarUsuarioPorNombreUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuariosWS">
    <port name="UsuariosWSPort" binding="tns:UsuariosWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPacWS/UsuariosWS" />
    </port>
  </service>
</definitions>