FrontEnd/SoftPac/SoftPacBusiness/Connected Services/UsuariosWS/UsuariosWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softpacws.pucp.edu.pe/" targetNamespace="http://softpacws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autenticarUsuarioPorCorreo" type="tns:autenticarUsuarioPorCorreo" />
  <xs:element name="autenticarUsuarioPorCorreoResponse" type="tns:autenticarUsuarioPorCorreoResponse" />
  <xs:element name="autenticarUsuarioPorNombreUsuario" type="tns:autenticarUsuarioPorNombreUsuario" />
  <xs:element name="autenticarUsuarioPorNombreUsuarioResponse" type="tns:autenticarUsuarioPorNombreUsuarioResponse" />
  <xs:element name="eliminarUsuario" type="tns:eliminarUsuario" />
  <xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="modificarAccesoUsuario" type="tns:modificarAccesoUsuario" />
  <xs:element name="modificarAccesoUsuarioResponse" type="tns:modificarAccesoUsuarioResponse" />
  <xs:element name="obtenerUsuario" type="tns:obtenerUsuario" />
  <xs:element name="obtenerUsuarioResponse" type="tns:obtenerUsuarioResponse" />
  <xs:complexType name="autenticarUsuarioPorCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticarUsuarioPorCorreoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="apellidos" type="xs:string" />
          <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="nombre_de_usuario" type="xs:string" />
          <xs:element minOccurs="0" name="password_hash" type="xs:string" />
          <xs:element minOccurs="0" name="superusuario" type="xs:boolean" />
          <xs:element minOccurs="0" name="usuario_id" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="usuario_pais" nillable="true" type="tns:usuarioPaisAccesoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eliminableDTOBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha_eliminacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuario_eliminacion" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioPaisAccesoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceso" type="xs:boolean" />
      <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paisesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="codigo_telefonico" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
      <xs:element minOccurs="0" name="usuarioActual" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticarUsuarioPorNombreUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre_Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticarUsuarioPorNombreUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAccesoUsuario">
    <xs:sequence>
      <xs:element name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="nuevoNombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paisesIds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAccesoUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nuevoUsuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>