FrontEnd/SoftPac/SoftPacBusiness/Connected Services/PropuestaPagoWS/PropuestaPagoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softpacws.pucp.edu.pe/" targetNamespace="http://softpacws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarDetallesParciales" type="tns:generarDetallesParciales" />
  <xs:element name="generarDetallesParcialesResponse" type="tns:generarDetallesParcialesResponse" />
  <xs:element name="generarDetallesPropuesta" type="tns:generarDetallesPropuesta" />
  <xs:element name="generarDetallesPropuestaResponse" type="tns:generarDetallesPropuestaResponse" />
  <xs:element name="insertarDetallePropuesta" type="tns:insertarDetallePropuesta" />
  <xs:element name="insertarDetallePropuestaResponse" type="tns:insertarDetallePropuestaResponse" />
  <xs:element name="insertarPropuesta" type="tns:insertarPropuesta" />
  <xs:element name="insertarPropuestaResponse" type="tns:insertarPropuestaResponse" />
  <xs:element name="listarActividadPorUsuario" type="tns:listarActividadPorUsuario" />
  <xs:element name="listarActividadPorUsuarioResponse" type="tns:listarActividadPorUsuarioResponse" />
  <xs:element name="listarConFiltros" type="tns:listarConFiltros" />
  <xs:element name="listarConFiltrosResponse" type="tns:listarConFiltrosResponse" />
  <xs:element name="listarPropuestasPorUsuario" type="tns:listarPropuestasPorUsuario" />
  <xs:element name="listarPropuestasPorUsuarioResponse" type="tns:listarPropuestasPorUsuarioResponse" />
  <xs:element name="listarUltimasPropuestasPorUsuario" type="tns:listarUltimasPropuestasPorUsuario" />
  <xs:element name="listarUltimasPropuestasPorUsuarioResponse" type="tns:listarUltimasPropuestasPorUsuarioResponse" />
  <xs:element name="modificarDetallePropuesta" type="tns:modificarDetallePropuesta" />
  <xs:element name="modificarDetallePropuestaResponse" type="tns:modificarDetallePropuestaResponse" />
  <xs:element name="modificarPropuesta" type="tns:modificarPropuesta" />
  <xs:element name="modificarPropuestaResponse" type="tns:modificarPropuestaResponse" />
  <xs:element name="obtenerPropuesta" type="tns:obtenerPropuesta" />
  <xs:element name="obtenerPropuestaResponse" type="tns:obtenerPropuestaResponse" />
  <xs:complexType name="generarDetallesParciales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="facturasSeleccionadas" type="xs:int" />
      <xs:element minOccurs="0" name="bancoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarDetallesParcialesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propuestasPagoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="detalles_propuesta" nillable="true" type="tns:detallesPropuestaDTO" />
          <xs:element minOccurs="0" name="entidad_bancaria" type="tns:entidadesBancariasDTO" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="fecha_hora_creacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fecha_hora_modificacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="propuesta_id" type="xs:int" />
          <xs:element minOccurs="0" name="usuario_creacion" type="tns:usuariosDTO" />
          <xs:element minOccurs="0" name="usuario_modificacion" type="tns:usuariosDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eliminableDTOBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha_eliminacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuario_eliminacion" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detallesPropuestaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="cuenta_acreedor" type="tns:cuentasAcreedorDTO" />
          <xs:element minOccurs="0" name="cuenta_propia" type="tns:cuentasPropiasDTO" />
          <xs:element minOccurs="0" name="detalle_propuesta_id" type="xs:int" />
          <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
          <xs:element name="forma_pago" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="monto_pago" type="xs:decimal" />
          <xs:element minOccurs="0" name="propuesta_pago" type="tns:propuestasPagoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentasAcreedorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:cuentasBancariasDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor" type="tns:acreedoresDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentasBancariasDTO" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="activa" type="xs:boolean" />
          <xs:element minOccurs="0" name="cci" type="xs:string" />
          <xs:element minOccurs="0" name="cuenta_bancaria_id" type="xs:int" />
          <xs:element minOccurs="0" name="entidad_bancaria" type="tns:entidadesBancariasDTO" />
          <xs:element minOccurs="0" name="moneda" type="tns:monedasDTO" />
          <xs:element minOccurs="0" name="numero_cuenta" type="xs:string" />
          <xs:element minOccurs="0" name="tipo_cuenta" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="acreedoresDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor_id" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="condicion" type="xs:string" />
          <xs:element minOccurs="0" name="direccion_fiscal" type="xs:string" />
          <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
          <xs:element minOccurs="0" name="plazo_de_pago" type="xs:int" />
          <xs:element minOccurs="0" name="razon_social" type="xs:string" />
          <xs:element minOccurs="0" name="ruc" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="paisesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="codigo_telefonico" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="apellidos" type="xs:string" />
          <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="nombre_de_usuario" type="xs:string" />
          <xs:element minOccurs="0" name="password_hash" type="xs:string" />
          <xs:element minOccurs="0" name="superusuario" type="xs:boolean" />
          <xs:element minOccurs="0" name="usuario_id" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="usuario_pais" nillable="true" type="tns:usuarioPaisAccesoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioPaisAccesoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceso" type="xs:boolean" />
      <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entidadesBancariasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_swift" type="xs:string" />
      <xs:element minOccurs="0" name="entidad_bancaria_id" type="xs:int" />
      <xs:element minOccurs="0" name="formato_aceptado" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="monedasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="moneda_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="simbolo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tipos_cambio" nillable="true" type="tns:tiposDeCambioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposDeCambioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="moneda_destino" type="tns:monedasDTO" />
      <xs:element minOccurs="0" name="moneda_origen" type="tns:monedasDTO" />
      <xs:element minOccurs="0" name="tasa_de_cambio" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipo_cambio_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuentasPropiasDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:cuentasBancariasDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="saldo_disponible" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="facturasDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor" type="tns:acreedoresDTO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="detalles_Factura" nillable="true" type="tns:detallesFacturaDTO" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="factura_id" type="xs:int" />
          <xs:element minOccurs="0" name="fecha_emision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fecha_limite_pago" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fecha_recepcion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="moneda" type="tns:monedasDTO" />
          <xs:element minOccurs="0" name="monto_igv" type="xs:decimal" />
          <xs:element minOccurs="0" name="monto_restante" type="xs:decimal" />
          <xs:element minOccurs="0" name="monto_total" type="xs:decimal" />
          <xs:element minOccurs="0" name="numero_factura" type="xs:string" />
          <xs:element minOccurs="0" name="otros_tributos" type="xs:decimal" />
          <xs:element minOccurs="0" name="regimen_fiscal" type="xs:string" />
          <xs:element minOccurs="0" name="tasa_iva" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="detallesFacturaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="detalle_factura_id" type="xs:int" />
          <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
          <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listarActividadPorUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarActividadPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPropuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="propuesta_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPropuestaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPropuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="propuestaPago" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPropuestaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPropuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="propuestaPago" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPropuestaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetallePropuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalle" type="tns:detallesPropuestaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetallePropuestaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarConFiltros">
    <xs:sequence>
      <xs:element minOccurs="0" name="bancoId" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarConFiltrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUltimasPropuestasPorUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUltimasPropuestasPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPropuestasPorUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPropuestasPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarDetallesPropuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="propuestaPagoParcial" type="tns:propuestasPagoDTO" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cuentasSeleccionadas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarDetallesPropuestaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:propuestasPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDetallePropuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalle" type="tns:detallesPropuestaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDetallePropuestaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>