FrontEnd/SoftPac/SoftPacBusiness/Connected Services/ReporteFactPendWS/ReporteFactPendWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softpacws.pucp.edu.pe/" targetNamespace="http://softpacws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteFacturasPendientes" type="tns:generarReporteFacturasPendientes" />
  <xs:element name="generarReporteFacturasPendientesResponse" type="tns:generarReporteFacturasPendientesResponse" />
  <xs:element name="listarPorFiltros" type="tns:listarPorFiltros" />
  <xs:element name="listarPorFiltrosResponse" type="tns:listarPorFiltrosResponse" />
  <xs:complexType name="listarPorFiltros">
    <xs:sequence>
      <xs:element minOccurs="0" name="acreedor_id" type="xs:int" />
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
      <xs:element minOccurs="0" name="moneda_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorFiltrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reporteFactPendDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteFactPendDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="acreedor" type="tns:acreedoresDTO" />
      <xs:element minOccurs="0" name="dias_vencimiento" type="xs:int" />
      <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
      <xs:element minOccurs="0" name="moneda" type="tns:monedasDTO" />
      <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
      <xs:element minOccurs="0" name="rango_vencimiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acreedoresDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor_id" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="condicion" type="xs:string" />
          <xs:element minOccurs="0" name="direccion_fiscal" type="xs:string" />
          <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
          <xs:element minOccurs="0" name="plazo_de_pago" type="xs:int" />
          <xs:element minOccurs="0" name="razon_social" type="xs:string" />
          <xs:element minOccurs="0" name="ruc" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eliminableDTOBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha_eliminacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuario_eliminacion" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paisesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="codigo_telefonico" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="apellidos" type="xs:string" />
          <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="nombre_de_usuario" type="xs:string" />
          <xs:element minOccurs="0" name="password_hash" type="xs:string" />
          <xs:element minOccurs="0" name="superusuario" type="xs:boolean" />
          <xs:element minOccurs="0" name="usuario_id" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="usuario_pais" nillable="true" type="tns:usuarioPaisAccesoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioPaisAccesoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceso" type="xs:boolean" />
      <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facturasDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor" type="tns:acreedoresDTO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="detalles_Factura" nillable="true" type="tns:detallesFacturaDTO" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="factura_id" type="xs:int" />
          <xs:element minOccurs="0" name="fecha_emision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fecha_limite_pago" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fecha_recepcion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="moneda" type="tns:monedasDTO" />
          <xs:element minOccurs="0" name="monto_igv" type="xs:decimal" />
          <xs:element minOccurs="0" name="monto_restante" type="xs:decimal" />
          <xs:element minOccurs="0" name="monto_total" type="xs:decimal" />
          <xs:element minOccurs="0" name="numero_factura" type="xs:string" />
          <xs:element minOccurs="0" name="otros_tributos" type="xs:decimal" />
          <xs:element minOccurs="0" name="regimen_fiscal" type="xs:string" />
          <xs:element minOccurs="0" name="tasa_iva" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="detallesFacturaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="detalle_factura_id" type="xs:int" />
          <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
          <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="monedasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="moneda_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="simbolo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tipos_cambio" nillable="true" type="tns:tiposDeCambioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposDeCambioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="moneda_destino" type="tns:monedasDTO" />
      <xs:element minOccurs="0" name="moneda_origen" type="tns:monedasDTO" />
      <xs:element minOccurs="0" name="tasa_de_cambio" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipo_cambio_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteFacturasPendientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="acreedor_id" type="xs:int" />
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
      <xs:element minOccurs="0" name="moneda_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteFacturasPendientesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>