FrontEnd/SoftPac/SoftPacBusiness/Connected Services/CuentasPropiasWS/CuentasPropiasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softpacws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuentasPropiasWS" targetNamespace="http://softpacws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPacWS/CuentasPropiasWS?xsd=1" namespace="http://softpacws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarCuentaPropiaParametros">
    <part name="parameters" element="tns:eliminarCuentaPropiaParametros" />
  </message>
  <message name="eliminarCuentaPropiaParametrosResponse">
    <part name="parameters" element="tns:eliminarCuentaPropiaParametrosResponse" />
  </message>
  <message name="insertarCuentaPropiaParametros">
    <part name="parameters" element="tns:insertarCuentaPropiaParametros" />
  </message>
  <message name="insertarCuentaPropiaParametrosResponse">
    <part name="parameters" element="tns:insertarCuentaPropiaParametrosResponse" />
  </message>
  <message name="modificarCuentaPropiaParametros">
    <part name="parameters" element="tns:modificarCuentaPropiaParametros" />
  </message>
  <message name="modificarCuentaPropiaParametrosResponse">
    <part name="parameters" element="tns:modificarCuentaPropiaParametrosResponse" />
  </message>
  <message name="tieneSaldoSuficiente">
    <part name="parameters" element="tns:tieneSaldoSuficiente" />
  </message>
  <message name="tieneSaldoSuficienteResponse">
    <part name="parameters" element="tns:tieneSaldoSuficienteResponse" />
  </message>
  <message name="insertarCuentaPropia">
    <part name="parameters" element="tns:insertarCuentaPropia" />
  </message>
  <message name="insertarCuentaPropiaResponse">
    <part name="parameters" element="tns:insertarCuentaPropiaResponse" />
  </message>
  <message name="listarPorEntidadBancaria">
    <part name="parameters" element="tns:listarPorEntidadBancaria" />
  </message>
  <message name="listarPorEntidadBancariaResponse">
    <part name="parameters" element="tns:listarPorEntidadBancariaResponse" />
  </message>
  <message name="listarCuentasActivas">
    <part name="parameters" element="tns:listarCuentasActivas" />
  </message>
  <message name="listarCuentasActivasResponse">
    <part name="parameters" element="tns:listarCuentasActivasResponse" />
  </message>
  <message name="listarCuentasPropias">
    <part name="parameters" element="tns:listarCuentasPropias" />
  </message>
  <message name="listarCuentasPropiasResponse">
    <part name="parameters" element="tns:listarCuentasPropiasResponse" />
  </message>
  <message name="eliminarCuentaPropia">
    <part name="parameters" element="tns:eliminarCuentaPropia" />
  </message>
  <message name="eliminarCuentaPropiaResponse">
    <part name="parameters" element="tns:eliminarCuentaPropiaResponse" />
  </message>
  <message name="obtenerCuentaPropiaPorId">
    <part name="parameters" element="tns:obtenerCuentaPropiaPorId" />
  </message>
  <message name="obtenerCuentaPropiaPorIdResponse">
    <part name="parameters" element="tns:obtenerCuentaPropiaPorIdResponse" />
  </message>
  <message name="modificarCuentaPropia">
    <part name="parameters" element="tns:modificarCuentaPropia" />
  </message>
  <message name="modificarCuentaPropiaResponse">
    <part name="parameters" element="tns:modificarCuentaPropiaResponse" />
  </message>
  <message name="obtenerKardexCuentaPropiaPorUsuario">
    <part name="parameters" element="tns:obtenerKardexCuentaPropiaPorUsuario" />
  </message>
  <message name="obtenerKardexCuentaPropiaPorUsuarioResponse">
    <part name="parameters" element="tns:obtenerKardexCuentaPropiaPorUsuarioResponse" />
  </message>
  <message name="obtenerKardexCuentaPropiaPorCuenta">
    <part name="parameters" element="tns:obtenerKardexCuentaPropiaPorCuenta" />
  </message>
  <message name="obtenerKardexCuentaPropiaPorCuentaResponse">
    <part name="parameters" element="tns:obtenerKardexCuentaPropiaPorCuentaResponse" />
  </message>
  <portType name="CuentasPropiasWS">
    <operation name="eliminarCuentaPropiaParametros">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/eliminarCuentaPropiaParametrosRequest" message="tns:eliminarCuentaPropiaParametros" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/eliminarCuentaPropiaParametrosResponse" message="tns:eliminarCuentaPropiaParametrosResponse" />
    </operation>
    <operation name="insertarCuentaPropiaParametros">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/insertarCuentaPropiaParametrosRequest" message="tns:insertarCuentaPropiaParametros" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/insertarCuentaPropiaParametrosResponse" message="tns:insertarCuentaPropiaParametrosResponse" />
    </operation>
    <operation name="modificarCuentaPropiaParametros">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/modificarCuentaPropiaParametrosRequest" message="tns:modificarCuentaPropiaParametros" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/modificarCuentaPropiaParametrosResponse" message="tns:modificarCuentaPropiaParametrosResponse" />
    </operation>
    <operation name="tieneSaldoSuficiente">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/tieneSaldoSuficienteRequest" message="tns:tieneSaldoSuficiente" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/tieneSaldoSuficienteResponse" message="tns:tieneSaldoSuficienteResponse" />
    </operation>
    <operation name="insertarCuentaPropia">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/insertarCuentaPropiaRequest" message="tns:insertarCuentaPropia" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/insertarCuentaPropiaResponse" message="tns:insertarCuentaPropiaResponse" />
    </operation>
    <operation name="listarPorEntidadBancaria">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/listarPorEntidadBancariaRequest" message="tns:listarPorEntidadBancaria" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/listarPorEntidadBancariaResponse" message="tns:listarPorEntidadBancariaResponse" />
    </operation>
    <operation name="listarCuentasActivas">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/listarCuentasActivasRequest" message="tns:listarCuentasActivas" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/listarCuentasActivasResponse" message="tns:listarCuentasActivasResponse" />
    </operation>
    <operation name="listarCuentasPropias">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/listarCuentasPropiasRequest" message="tns:listarCuentasPropias" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/listarCuentasPropiasResponse" message="tns:listarCuentasPropiasResponse" />
    </operation>
    <operation name="eliminarCuentaPropia">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/eliminarCuentaPropiaRequest" message="tns:eliminarCuentaPropia" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/eliminarCuentaPropiaResponse" message="tns:eliminarCuentaPropiaResponse" />
    </operation>
    <operation name="obtenerCuentaPropiaPorId">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/obtenerCuentaPropiaPorIdRequest" message="tns:obtenerCuentaPropiaPorId" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/obtenerCuentaPropiaPorIdResponse" message="tns:obtenerCuentaPropiaPorIdResponse" />
    </operation>
    <operation name="modificarCuentaPropia">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/modificarCuentaPropiaRequest" message="tns:modificarCuentaPropia" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/modificarCuentaPropiaResponse" message="tns:modificarCuentaPropiaResponse" />
    </operation>
    <operation name="obtenerKardexCuentaPropiaPorUsuario">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/obtenerKardexCuentaPropiaPorUsuarioRequest" message="tns:obtenerKardexCuentaPropiaPorUsuario" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/obtenerKardexCuentaPropiaPorUsuarioResponse" message="tns:obtenerKardexCuentaPropiaPorUsuarioResponse" />
    </operation>
    <operation name="obtenerKardexCuentaPropiaPorCuenta">
      <input wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/obtenerKardexCuentaPropiaPorCuentaRequest" message="tns:obtenerKardexCuentaPropiaPorCuenta" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/CuentasPropiasWS/obtenerKardexCuentaPropiaPorCuentaResponse" message="tns:obtenerKardexCuentaPropiaPorCuentaResponse" />
    </operation>
  </portType>
  <binding name="CuentasPropiasWSPortBinding" type="tns:CuentasPropiasWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarCuentaPropiaParametros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCuentaPropiaParametros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCuentaPropiaParametros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="tieneSaldoSuficiente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCuentaPropia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorEntidadBancaria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCuentasActivas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCuentasPropias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuentaPropia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCuentaPropiaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCuentaPropia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerKardexCuentaPropiaPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerKardexCuentaPropiaPorCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuentasPropiasWS">
    <port name="CuentasPropiasWSPort" binding="tns:CuentasPropiasWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPacWS/CuentasPropiasWS" />
    </port>
  </service>
</definitions>