FrontEnd/SoftPac/SoftPacBusiness/Connected Services/MonedasWS/MonedasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softpacws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MonedasWS" targetNamespace="http://softpacws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPacWS/MonedasWS?xsd=1" namespace="http://softpacws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerMonedaPorDivisa">
    <part name="parameters" element="tns:obtenerMonedaPorDivisa" />
  </message>
  <message name="obtenerMonedaPorDivisaResponse">
    <part name="parameters" element="tns:obtenerMonedaPorDivisaResponse" />
  </message>
  <message name="obtenerMonedaPorID">
    <part name="parameters" element="tns:obtenerMonedaPorID" />
  </message>
  <message name="obtenerMonedaPorIDResponse">
    <part name="parameters" element="tns:obtenerMonedaPorIDResponse" />
  </message>
  <message name="listarMonedas">
    <part name="parameters" element="tns:listarMonedas" />
  </message>
  <message name="listarMonedasResponse">
    <part name="parameters" element="tns:listarMonedasResponse" />
  </message>
  <portType name="MonedasWS">
    <operation name="obtenerMonedaPorDivisa">
      <input wsam:Action="http://softpacws.pucp.edu.pe/MonedasWS/obtenerMonedaPorDivisaRequest" message="tns:obtenerMonedaPorDivisa" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/MonedasWS/obtenerMonedaPorDivisaResponse" message="tns:obtenerMonedaPorDivisaResponse" />
    </operation>
    <operation name="obtenerMonedaPorID">
      <input wsam:Action="http://softpacws.pucp.edu.pe/MonedasWS/obtenerMonedaPorIDRequest" message="tns:obtenerMonedaPorID" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/MonedasWS/obtenerMonedaPorIDResponse" message="tns:obtenerMonedaPorIDResponse" />
    </operation>
    <operation name="listarMonedas">
      <input wsam:Action="http://softpacws.pucp.edu.pe/MonedasWS/listarMonedasRequest" message="tns:listarMonedas" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/MonedasWS/listarMonedasResponse" message="tns:listarMonedasResponse" />
    </operation>
  </portType>
  <binding name="MonedasWSPortBinding" type="tns:MonedasWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerMonedaPorDivisa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerMonedaPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMonedas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MonedasWS">
    <port name="MonedasWSPort" binding="tns:MonedasWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPacWS/MonedasWS" />
    </port>
  </service>
</definitions>