FrontEnd/SoftPac/SoftPacBusiness/Connected Services/FacturasWS/FacturasWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softpacws.pucp.edu.pe/" targetNamespace="http://softpacws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarDetalleFactura" type="tns:eliminarDetalleFactura" />
  <xs:element name="eliminarDetalleFacturaResponse" type="tns:eliminarDetalleFacturaResponse" />
  <xs:element name="eliminarFactura" type="tns:eliminarFactura" />
  <xs:element name="eliminarFacturaResponse" type="tns:eliminarFacturaResponse" />
  <xs:element name="insertarDetalleFactura" type="tns:insertarDetalleFactura" />
  <xs:element name="insertarDetalleFacturaResponse" type="tns:insertarDetalleFacturaResponse" />
  <xs:element name="insertarFactura" type="tns:insertarFactura" />
  <xs:element name="insertarFacturaResponse" type="tns:insertarFacturaResponse" />
  <xs:element name="listarFacturas" type="tns:listarFacturas" />
  <xs:element name="listarFacturasResponse" type="tns:listarFacturasResponse" />
  <xs:element name="listarPendientes" type="tns:listarPendientes" />
  <xs:element name="listarPendientesPorCriterios" type="tns:listarPendientesPorCriterios" />
  <xs:element name="listarPendientesPorCriteriosResponse" type="tns:listarPendientesPorCriteriosResponse" />
  <xs:element name="listarPendientesResponse" type="tns:listarPendientesResponse" />
  <xs:element name="modificarDetalleFactura" type="tns:modificarDetalleFactura" />
  <xs:element name="modificarDetalleFacturaResponse" type="tns:modificarDetalleFacturaResponse" />
  <xs:element name="modificarFactura" type="tns:modificarFactura" />
  <xs:element name="modificarFacturaResponse" type="tns:modificarFacturaResponse" />
  <xs:element name="obtenerFactura" type="tns:obtenerFactura" />
  <xs:element name="obtenerFacturaResponse" type="tns:obtenerFacturaResponse" />
  <xs:complexType name="eliminarFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
      <xs:element minOccurs="0" name="usuarioActual" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facturasDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor" type="tns:acreedoresDTO" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="detalles_Factura" nillable="true" type="tns:detallesFacturaDTO" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="factura_id" type="xs:int" />
          <xs:element minOccurs="0" name="fecha_emision" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fecha_limite_pago" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fecha_recepcion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="moneda" type="tns:monedasDTO" />
          <xs:element minOccurs="0" name="monto_igv" type="xs:decimal" />
          <xs:element minOccurs="0" name="monto_restante" type="xs:decimal" />
          <xs:element minOccurs="0" name="monto_total" type="xs:decimal" />
          <xs:element minOccurs="0" name="numero_factura" type="xs:string" />
          <xs:element minOccurs="0" name="otros_tributos" type="xs:decimal" />
          <xs:element minOccurs="0" name="regimen_fiscal" type="xs:string" />
          <xs:element minOccurs="0" name="tasa_iva" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eliminableDTOBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha_eliminacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuario_eliminacion" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acreedoresDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor_id" type="xs:int" />
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="condicion" type="xs:string" />
          <xs:element minOccurs="0" name="direccion_fiscal" type="xs:string" />
          <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
          <xs:element minOccurs="0" name="plazo_de_pago" type="xs:int" />
          <xs:element minOccurs="0" name="razon_social" type="xs:string" />
          <xs:element minOccurs="0" name="ruc" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="paisesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="codigo_telefonico" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="apellidos" type="xs:string" />
          <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="nombre_de_usuario" type="xs:string" />
          <xs:element minOccurs="0" name="password_hash" type="xs:string" />
          <xs:element minOccurs="0" name="superusuario" type="xs:boolean" />
          <xs:element minOccurs="0" name="usuario_id" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="usuario_pais" nillable="true" type="tns:usuarioPaisAccesoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioPaisAccesoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceso" type="xs:boolean" />
      <xs:element minOccurs="0" name="pais" type="tns:paisesDTO" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detallesFacturaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:eliminableDTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="detalle_factura_id" type="xs:int" />
          <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
          <xs:element minOccurs="0" name="subtotal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="monedasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_iso" type="xs:string" />
      <xs:element minOccurs="0" name="moneda_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="simbolo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tipos_cambio" nillable="true" type="tns:tiposDeCambioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposDeCambioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="moneda_destino" type="tns:monedasDTO" />
      <xs:element minOccurs="0" name="moneda_origen" type="tns:monedasDTO" />
      <xs:element minOccurs="0" name="tasa_de_cambio" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipo_cambio_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalle" type="tns:detallesFacturaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="factura_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:facturasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFacturas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarFacturasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:facturasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPendientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPendientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:facturasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalle" type="tns:detallesFacturaDTO" />
      <xs:element minOccurs="0" name="usuarioActual" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDetalleFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="factura" type="tns:facturasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPendientesPorCriterios">
    <xs:sequence>
      <xs:element minOccurs="0" name="pais_id" type="xs:int" />
      <xs:element minOccurs="0" name="fechaLimite" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPendientesPorCriteriosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:facturasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalle" type="tns:detallesFacturaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDetalleFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>