FrontEnd/SoftPac/SoftPacBusiness/Connected Services/FacturasWS/FacturasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softpacws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FacturasWS" targetNamespace="http://softpacws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPacWS/FacturasWS?xsd=1" namespace="http://softpacws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarFactura">
    <part name="parameters" element="tns:modificarFactura" />
  </message>
  <message name="modificarFacturaResponse">
    <part name="parameters" element="tns:modificarFacturaResponse" />
  </message>
  <message name="listarPendientes">
    <part name="parameters" element="tns:listarPendientes" />
  </message>
  <message name="listarPendientesResponse">
    <part name="parameters" element="tns:listarPendientesResponse" />
  </message>
  <message name="listarFacturas">
    <part name="parameters" element="tns:listarFacturas" />
  </message>
  <message name="listarFacturasResponse">
    <part name="parameters" element="tns:listarFacturasResponse" />
  </message>
  <message name="obtenerFactura">
    <part name="parameters" element="tns:obtenerFactura" />
  </message>
  <message name="obtenerFacturaResponse">
    <part name="parameters" element="tns:obtenerFacturaResponse" />
  </message>
  <message name="insertarFactura">
    <part name="parameters" element="tns:insertarFactura" />
  </message>
  <message name="insertarFacturaResponse">
    <part name="parameters" element="tns:insertarFacturaResponse" />
  </message>
  <message name="eliminarDetalleFactura">
    <part name="parameters" element="tns:eliminarDetalleFactura" />
  </message>
  <message name="eliminarDetalleFacturaResponse">
    <part name="parameters" element="tns:eliminarDetalleFacturaResponse" />
  </message>
  <message name="insertarDetalleFactura">
    <part name="parameters" element="tns:insertarDetalleFactura" />
  </message>
  <message name="insertarDetalleFacturaResponse">
    <part name="parameters" element="tns:insertarDetalleFacturaResponse" />
  </message>
  <message name="modificarDetalleFactura">
    <part name="parameters" element="tns:modificarDetalleFactura" />
  </message>
  <message name="modificarDetalleFacturaResponse">
    <part name="parameters" element="tns:modificarDetalleFacturaResponse" />
  </message>
  <message name="eliminarFactura">
    <part name="parameters" element="tns:eliminarFactura" />
  </message>
  <message name="eliminarFacturaResponse">
    <part name="parameters" element="tns:eliminarFacturaResponse" />
  </message>
  <message name="listarPendientesPorCriterios">
    <part name="parameters" element="tns:listarPendientesPorCriterios" />
  </message>
  <message name="listarPendientesPorCriteriosResponse">
    <part name="parameters" element="tns:listarPendientesPorCriteriosResponse" />
  </message>
  <portType name="FacturasWS">
    <operation name="modificarFactura">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/modificarFacturaRequest" message="tns:modificarFactura" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/modificarFacturaResponse" message="tns:modificarFacturaResponse" />
    </operation>
    <operation name="listarPendientes">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/listarPendientesRequest" message="tns:listarPendientes" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/listarPendientesResponse" message="tns:listarPendientesResponse" />
    </operation>
    <operation name="listarFacturas">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/listarFacturasRequest" message="tns:listarFacturas" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/listarFacturasResponse" message="tns:listarFacturasResponse" />
    </operation>
    <operation name="obtenerFactura">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/obtenerFacturaRequest" message="tns:obtenerFactura" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/obtenerFacturaResponse" message="tns:obtenerFacturaResponse" />
    </operation>
    <operation name="insertarFactura">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/insertarFacturaRequest" message="tns:insertarFactura" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/insertarFacturaResponse" message="tns:insertarFacturaResponse" />
    </operation>
    <operation name="eliminarDetalleFactura">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/eliminarDetalleFacturaRequest" message="tns:eliminarDetalleFactura" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/eliminarDetalleFacturaResponse" message="tns:eliminarDetalleFacturaResponse" />
    </operation>
    <operation name="insertarDetalleFactura">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/insertarDetalleFacturaRequest" message="tns:insertarDetalleFactura" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/insertarDetalleFacturaResponse" message="tns:insertarDetalleFacturaResponse" />
    </operation>
    <operation name="modificarDetalleFactura">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/modificarDetalleFacturaRequest" message="tns:modificarDetalleFactura" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/modificarDetalleFacturaResponse" message="tns:modificarDetalleFacturaResponse" />
    </operation>
    <operation name="eliminarFactura">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/eliminarFacturaRequest" message="tns:eliminarFactura" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/eliminarFacturaResponse" message="tns:eliminarFacturaResponse" />
    </operation>
    <operation name="listarPendientesPorCriterios">
      <input wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/listarPendientesPorCriteriosRequest" message="tns:listarPendientesPorCriterios" />
      <output wsam:Action="http://softpacws.pucp.edu.pe/FacturasWS/listarPendientesPorCriteriosResponse" message="tns:listarPendientesPorCriteriosResponse" />
    </operation>
  </portType>
  <binding name="FacturasWSPortBinding" type="tns:FacturasWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPendientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFacturas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDetalleFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDetalleFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDetalleFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPendientesPorCriterios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FacturasWS">
    <port name="FacturasWSPort" binding="tns:FacturasWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPacWS/FacturasWS" />
    </port>
  </service>
</definitions>